.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 600px; /* Примерная ширина контейнера, можете изменить по вашему усмотрению */
  }
  
  input {
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 10px;
  }
  